body{
    background: #1e1f24;
    color: rgb(4, 0, 255);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background: url("../Imagenes/dragon.png") no repeat ;
    box-shadow: 0px 5px 30px 0px rgb(35, 53, 83);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}
#post
{
    background: white;
    padding: 1cm;
}